/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
   for details on configuring this project to bundle and minify static web assets. */

/* Table */
table thead tr th {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

table tbody tr td {
    font-size: 11px;
}

.main-footer {
    padding-bottom: 40px;
}

/* Site classes */
p.note-feet {
    font-size: 11px;
}

.img-logo {
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    margin-top: 5%;
}

.panel-title {
    font-size: 20px;
}

.description-block {
    text-align:center;
}

.badge-primary {
    background-color: #d9230f;
}

.badge-success {
    background-color: #469408;
}

.badge-warning {
    background-color: #9b479f;
}

.fa-danger {
    color: #d9831f;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #444444;
}

a:hover {
    text-decoration: underline;
}

input[type='file'] {
    height: 30px;
    width:100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
}