@{
    ViewData["Title"] = "Nacimientos";
}

<!-- Page content -->
<div class="page-content">

    <!-- Header -->
    <section class="content-header">
        <h1>
            Nacimientos
            <small>Comparación</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Sadena</a></li>
            <li>Nacimientos</li>
            <li class="active">Comparación</li>
        </ol>
    </section>
    <!-- ./header -->

    <!-- Content -->
    <section class="content container-fluid">

        <!-- Search -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Opciones de búsqueda</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="text-center">Periodo</p>
                                <div class="form-group">
                                    <label>Mes inicial</label>
                                    <select class="form-control">
                                        <option selected="selected">Todos</option>
                                        <option>Enero</option>
                                        <option>Febrero</option>
                                        <option>Marzo</option>
                                        <option>Abril</option>
                                        <option>Mayo</option>
                                        <option>Junio</option>
                                        <option>Julio</option>
                                        <option>Agosto</option>
                                        <option>Septiembre</option>
                                        <option>Octubre</option>
                                        <option>Noviembre</option>
                                        <option>Diciembre</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Mes final</label>
                                    <select class="form-control">
                                        <option selected="selected">Todos</option>
                                        <option>Enero</option>
                                        <option>Febrero</option>
                                        <option>Marzo</option>
                                        <option>Abril</option>
                                        <option>Mayo</option>
                                        <option>Junio</option>
                                        <option>Julio</option>
                                        <option>Agosto</option>
                                        <option>Septiembre</option>
                                        <option>Octubre</option>
                                        <option>Noviembre</option>
                                        <option>Diciembre</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Año</label>
                                    <select class="form-control">
                                        <option selected="selected">Todos</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-9" style="padding-top:29px;">
                                <div class="form-group">
                                    <label>Municipios</label>
                                    <select class="form-control select2" multiple style="width:99%">
                                        <option value="001">Abasolo</option>
                                        <option value="002">Acuña</option>
                                        <option value="003">Allende</option>
                                        <option value="004">Arteaga</option>
                                        <option value="005">Candela</option>
                                        <option value="006">Castaños</option>
                                        <option value="007">Cuatro Ciénegas</option>
                                        <option value="008">Escobedo</option>
                                        <option value="009">Francisco I. Madero</option>
                                        <option value="010">Frontera</option>
                                        <option value="011">General Cepeda</option>
                                        <option value="012">Guerrero</option>
                                        <option value="013">Hidalgo</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-success">Buscar <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="note-feet"><strong>* Seleccione el periodo y los municipios: (Si se dejan en blanco, se realizará el cálculo general "todos los registros de la base de datos").</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./search -->
        <!-- Result -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Resultados de la comparación</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="fa fa-file-excel-o"></i> Archivo de Excel</a></li>
                                    <li><a href="#"><i class="fa fa-file-pdf-o"></i> Archivo de PDF</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center">
                                    <strong>Nacimientos sin registro</strong>
                                </p>
                                <table id="unregisteredsTable" class="table-striped table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Folio del certificado de nacimiento</th>
                                            <th>Edad</th>
                                            <th>ID Estado civil</th>
                                            <th>Estado civil</th>
                                            <th>Calle</th>
                                            <th>Número exterior</th>
                                            <th>Número interior</th>
                                            <th>ID Entidad</th>
                                            <th>Entidad</th>
                                            <th>ID Municipio</th>
                                            <th>Municipio</th>
                                            <th>ID Localidad</th>
                                            <th>Localidad</th>
                                            <th>Número de nacimiento vivo</th>
                                            <th>ID Escolaridad</th>
                                            <th>Escolaridad</th>
                                            <th>Ocupación</th>
                                            <th>Fecha de nacimiento</th>
                                            <th>Hora de nacimiento</th>
                                            <th>ID Sexo</th>
                                            <th>Sexo</th>
                                            <th>Fecha de registro (según folio)</th>
                                            <th>Fecha de registro (según fecha)</th>
                                            <th>Días al nacimiento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>022041684</td><td>25</td><td>15</td><td>UNIÓN LIBRE</td><td>CARRANZA</td><td>85</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>2</td><td>03</td><td>PRIMARIA COMPLETA</td><td>COMERCIANTE</td><td>04/01/2018</td><td>18:43</td><td>1</td><td>HOMBRE</td><td>11/01/18</td><td>11/01/18</td><td>7</td></tr>
                                        <tr><td>022041685</td><td>27</td><td>11</td><td>CASADA</td><td>MEJIA</td><td>512</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>05/01/2018</td><td>17:38</td><td>1</td><td>HOMBRE</td><td>31/01/18</td><td>31/01/18</td><td>26</td></tr>
                                        <tr><td>022041693</td><td>0</td><td>11</td><td>CASADA</td><td>AV 3 DE MAYO COL JOSE SANTOS VALDEZ</td><td>000</td><td>000</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>3</td><td>08</td><td>PROFESIONAL</td><td>DOCENTE</td><td>01/01/2018</td><td>12:49</td><td>2</td><td>MUJER</td><td>08/01/18</td><td>08/01/18</td><td>7</td></tr>
                                        <tr><td>022036911</td><td>18</td><td>11</td><td>CASADA</td><td>SIN INFORMACION</td><td>S/N</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0024</td><td>GUADALUPE VICTORIA</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>02/01/2018</td><td>00:08</td><td>1</td><td>HOMBRE</td><td>06/01/18</td><td>06/01/18</td><td>4</td></tr>
                                        <tr><td>022036915</td><td>21</td><td>11</td><td>CASADA</td><td>SIN INFORMACION</td><td>S/N</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0027</td><td>LA LUZ</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>04/01/2018</td><td>05:55</td><td>1</td><td>HOMBRE</td><td>25/01/18</td><td>25/01/18</td><td>21</td></tr>
                                        <tr><td>022036950</td><td>24</td><td>15</td><td>UNIÓN LIBRE</td><td>EJIDO SANTA ANA DEL PILAR</td><td>SN</td><td>SN</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0045</td><td>SANTA ANA DEL PILAR</td><td>4</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>30/01/2018</td><td>12:20</td><td>2</td><td>MUJER</td><td>19/02/18</td><td>02/02/18</td><td>20</td></tr>
                                        <tr><td>022036951</td><td>25</td><td>11</td><td>CASADA</td><td>EJIDO GUADALUPE VICTORIA</td><td>SN</td><td>SN</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0024</td><td>GUADALUPE VICTORIA</td><td>3</td><td>06</td><td>BACHILLERATO O PREPARATORIA INCOMPLETA</td><td>AMA DE CASA</td><td>30/01/2018</td><td>16:55</td><td>2</td><td>MUJER</td><td></td><td>02/02/18</td><td>3</td></tr>
                                    </tbody>
                                </table>
                                <!-- ./table -->
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- ./row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-sm-3">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-red">3%</span>
                                    <h5 class="description-header">10,390</h5>
                                    <span class="description-text">Sin registro</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-3">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green">17%</span>
                                    <h5 class="description-header">35,210</h5>
                                    <span class="description-text">Con registro</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-orange">20%</span>
                                    <h5 class="description-header">24,813</h5>
                                    <span class="description-text">Subregistro</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <span class="description-percentage text-blue">18%</span>
                                    <h5 class="description-header">1,200</h5>
                                    <span class="description-text">Resumen por municipio</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- ./result -->

    </section>
    <!-- /.content -->

</div>
<!-- ./page content -->