@{
    ViewData["Title"] = "Acerca de";
}

<!-- Page content -->
<div class="page-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p><b>Sistema Analizador de Nacimientos</b></p>
    <p>Herramienta de Cálculo del Subregistro</p>
</div>
<!-- ./page content -->