<!-- Scope -->
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Page content -->
<div class="page-content">

    <!-- Privacy -->
    <div class="row">
        <div class="col-sm-12">
            <h2>@ViewData["Title"]</h2>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
    <!-- ./privacy -->

</div>
<!-- ./content -->
